{include file="public/header" /}
<link rel="stylesheet" href="/common/layui/css/layui.css"  media="all">
<body class="gray-bg">
<div class="wrapper wrapper-content animated fadeInRight" style="background: #fff">
    <div class="row">
        <div class="col-sm-12">

            <blockquote class="layui-elem-quote layui-text">
                添加菜单
            </blockquote>

            <form class="layui-form" action="" lay-filter="example">
                <div class="layui-form-item">
                    <label class="layui-form-label">选择框</label>
                    <div class="layui-input-block">
                        <select name="pid" lay-filter="aihao">
                            <option value="0" >顶级菜单</option>
                            {foreach $list as $k=>$v}
                            <option value="{$v.id}">{$v.title}</option>
                            {/foreach}
                        </select>
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">菜单名称</label>
                    <div class="layui-input-block">
                        <input type="hidden" value="{$info.id}" name="id">
                        <input type="text" name="title" lay-verify="title" autocomplete="off" placeholder="请输入菜单名称" class="layui-input">
                    </div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">节点</label>
                    <div class="layui-input-block">
                        <input type="text" name="name" lay-verify="name" autocomplete="off" placeholder="模块/控制器/方法" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">如：admin/user/adduser (一级节点添加“#”即可)</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">CSS</label>
                    <div class="layui-input-block">
                        <input type="text" name="css"  autocomplete="off" placeholder="请输入菜单样式" class="layui-input">
                    </div>
                    <div class="layui-form-mid layui-word-aux">顶级菜单展示的CSS样式，如fa fa-user</div>
                </div>
                <div class="layui-form-item">
                    <label class="layui-form-label">排序</label>
                    <div class="layui-input-block">
                        <input type="text" name="sort"  autocomplete="off" placeholder="请输入菜单排序" class="layui-input">
                    </div>
                </div>

                <div class="layui-form-item">
                    <label class="layui-form-label">菜单状态</label>
                    <div class="layui-input-block">
                        <input type="radio" name="status" value="1" title="开启" checked="">
                        <input type="radio" name="status" value="0" title="禁用">
                    </div>
                </div>
                <div class="layui-form-item">
                    <div class="layui-input-block">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1">立即提交</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
<script src="/common/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 1){
                    return '请输入菜单名称';
                }
            }
            ,name: function(value){
                if(value.length < 1){
                    return '请输入菜单节点';
                }
            }
            ,pass: [
                /^[\S]{6,12}$/
                ,'密码必须6到12位，且不能出现空格'
            ]
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        //监听提交
        form.on('submit(demo1)', function(data){
            var param = data.field;
            layui.jquery.ajax({
                url:"{:url('admins/adminlist/edit_menu')}",
                type:'post',
                dataType:'json',
                data:JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                success:function(res){
                    if(res.code==1011){
                        layer.alert(res.msg,{icon:1},function () {
                            window.location.href=document.referrer;
                        });
                    }else{
                        layer.alert(res.msg,{icon: 5});
                    }
                }
            });
            return false;
        });

        //表单初始赋值
        form.val('example', {
            "sort": "{$info.sort}",
            "pid": "{$info.pid}",
            "name": "{$info.name}",
            "title": "{$info.title}",
            "status": "{$info.status}",
            "css": "{$info.css}",
        })

    });

</script>
</body>
</html>
