<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>荣点--注册</title>
    <link rel="stylesheet" href="/download/css/res.css" />
    <link rel="stylesheet" href="/download/css/css.css" />
    <link rel="stylesheet" href="/download/css/jquery-weui.min.css" />
</head>

<body style="background: #ffffff">
<!--头部-->
<!--<header class="header">
    <a href="javascript:void(0)"><img style="width: 20px;position: absolute;margin: 14px 10px;"></a>
    <h1 class="title">注册</h1>
</header>-->
<!--头部结束-->
<img src="/download/img/header.jpg" style="width: 100%;" />
<!--注册所填写的内容-->
<div style="padding: 10px;" class="form">
    <div class="list">
        <img src="/download/img/one.png" class="icon" />
        <p class="inputbox">
            <input type="text" placeholder="请输入手机号码" id="account" />
            <span id="J_getCode" style="display: inline-block;position: absolute; width: 110px;right: 15px;text-align: center;font-size: 14px;color: #007aff;height: 50px;line-height: 50px;" onclick="getCode(this)">获取手机验证码</span>
        </p>
    </div>
    <div class="list">
        <img src="/download/img/two.png" class="icon" />
        <p class="inputbox">
            <input type="text" placeholder="请输入验证码" />
        </p>
    </div>
    <div class="list">
        <img src="/download/img/five.png" class="icon" />
        <p class="inputbox">
            <input type="text" placeholder="推荐人" />
        </p>
    </div>
</div>
<!--注册所填写的内容结束-->
<!--按钮-->
<div class="btn">
    <button type="button">立即注册</button>
</div>
<p style="text-align: center;padding-top: 5px;font-size: 14px;">已有账号？
    <a href="javascript:void(0)">下载APP</a>
</p>

<script type="text/javascript" src="/download/js/jquery.min.js"></script>
<script type="text/javascript" src="/download/js/jquery-weui.min.js"></script>

<script>
    var accountBox = $('#account');
    var pattern = /^1[0-9]{10}$/;
    //点击发送验证码
    function getCode(e) {

        checkPhone(); //验证手机号码
        if(isPhone) {
            $.ajax(address + 'app/user/myzm.html', {
                data: {
                    tell: accountBox.value
                },
                dataType: 'json', //服务器返回json格式数据
                type: 'post', //HTTP请求类型
                timeout: 10000, //超时时间设置为10秒；
                headers: {
                    'Content-Type': 'application/json'
                },
                success: function(data) {
                    //服务器返回响应，根据响应结果，分析是否登录成功；
                    if(data.status == 1) {
                        yanzhengma = data.data;
                        alert(data.msg);
                        restCode(60, sendObj);
                    } else {
                        alert(data.msg);
                    }
                },
                error: function(xhr, type, errorThrown) {
                    //异常处理；
                    console.log(type);
                }
            });
        } else {
            accountBox.focus();
        }

    }
    //验证手机号码
    function checkPhone() {
        isPhone = 1;
        if(accountBox.val() == '' || accountBox.val() == null || accountBox.val() == undefined) {
            alert('手机号不能为空');
            return;
        }
        if(!pattern.test(accountBox.val())) {
            alert('请输入正确的手机号码');
            return;
        }
    }
    //倒计时
    function restCode(s, sendObj) {
        mui(".mui-input-row").off("tap", "#J_getCode", getCode);
        s--;
        if(s == 0) {
            sendObj.innerHTML = '获取手机验证码';
            mui(".mui-input-row").on("tap", "#J_getCode", getCode);
        } else {
            sendObj.innerHTML = s + '秒后可重发';
            setTimeout(function() {
                restCode(s, sendObj)
            }, 1000)
        }
    }
</script>
</body>

</html>