<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{$webConf.web_for_short} 后台 - 登录</title>
    <meta name="keywords" content="{$webConf.web_keywords}">
    <meta name="description" content="{$webConf.web_description}">
    <link href="/common/css/bootstrap.min.css" rel="stylesheet">
    <link href="/common/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/common/css/animate.min.css" rel="stylesheet">
    <link href="/common/css/style.min.css" rel="stylesheet">
    <link href="/common/css/login.min.css" rel="stylesheet">
    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->
    <script>
        if(window.top!==window.self){window.top.location=window.location};
    </script>

</head>

<body class="signin">
<div class="signinpanel">
    <div class="row">
        <div class="col-sm-7">
            <div class="signin-info">
                <div class="logopanel m-b">
                    <h1>[ {$webConf.web_for_short} ]</h1>
                </div>
                <div class="m-b"></div>
                <h4>欢迎使用 <strong>{$webConf.web_names} 管理系统</strong></h4>
                <ul class="m-b">

                </ul>
            </div>
        </div>
        <div class="col-sm-5">
            <form method="post" action="index.html">
                <h4 class="no-margins">登录：</h4>
                <p class="m-t-md">登录到 {$webConf.web_names} 管理系统</p>
                <input type="text" class="form-control uname" placeholder="用户名" />
                <input type="password" class="form-control pword m-b" placeholder="密码" />
                <div style="margin-bottom:70px">
                    <input type="text" class="form-control" placeholder="验证码" style="color:black;width:50%;float:left;margin:0px 0px;" name="code" id="code" />
                    <img src="{:url('verification_code')}" onclick="javascript:this.src='/admins/login/verification_code.html?tm='+Math.random();" style="float:right;cursor: pointer;width: 50%;height: 33px"/>
                </div>
                <button class="btn btn-success btn-block">登录</button>
            </form>
        </div>
    </div>
    <div class="signup-footer">
        <div class="pull-left">
            &copy; 2019 All Rights Reserved. H+
        </div>
    </div>
</div>
</body>
</html>
<script src="/common/js/jquery.min.js"></script>
<script src="/common/js/layer/layer.js"></script>
<script>

</script>
